/* You can add global styles to this file, and also import other style files */

* {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Dongle' , sans-serif;
}

.btn {
    border-radius: 4px;
    min-width: 36px;
    min-height: 36px;
    background-color: rgb(139, 211, 255);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        &:not(.btn--disabled) {
            opacity: 0.8;
        }
    
    }


}
